<div  class = "row">
	<div class = "large-12 columns" id = "content">
		<h3>Perl - moose classes generation support</h3>
		<h5>A small web-App that wants to make developper's life easier</h5>
	</div>
</div>



<div class = "row">
		
	<div class = "large-12 columns" id = "content">
				
			<p>
				This web application has been developed as a small IT project at the University of Lausanne. 
				The main purpose of the present work is to accelerate the creation of an object oriented project under Perl.
				We all know that Perl 5 is not a native Object Oriented language. A large number of modules have been created to enable a similar programming experience. One of this packages is Moose, a very diffused and popular package that should work, as close as possible, like the upcoming version 6 of Perl, that we have been waiting for a long time and should finally be natively Object Oriented.		
			</p>
	</div>
	
</div>

<div class="row">
    <div class="small-2 small-centered columns" >
        <button data-reveal-id="SetProjectName" ng-click="OpenReveal()">Start</button>
    </div>
</div>
